VITE_SUPABASE_URL=https://idemowpucohxguesrmjj.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImlkZW1vd3B1Y29oeGd1ZXNybWpqIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwNTkwMzQsImV4cCI6MjA5NzYzNTAzNH0.py67IYzRoEVdF0pV1sRiwoC0F4M3gC4qgfyaqcg9ZnI
VITE_ADMIN_EMAIL=bglspeedy@gmail.com
